*, *::before, *::after { margin: 0; padding: 0; }
main{
    display: flex;
    justify-content: center;
    background-color: #091219;
    gap: 10px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* page itself won't scroll */
  }
main > div,nav{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px solid red;
    border-radius: 6px;
    transition: flex-grow 0.5s ease; /* animate over 0.5s */
}


#editor-container{
    height: calc(100vh - 20px - 60px);
    display: flex;
    background-color: #131d24;
    flex-grow: 1;
    justify-content: center;
    padding-bottom: 2lh;
}
.app{
    flex-direction: column;
    flex-grow:3;
    width: 100ch;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
}

.tabs{
    background-color: red;
    width: 100%;
    height: 20px;
}
.cm-gutters{
    background-color: #131d24 !important;
}

nav{
    padding: 0;
    flex-grow: 0;
    background-color: #1e282f;
    height: 100vh;
    overflow: auto;
}

#sidebar{
    
    padding: 0;
    flex-grow: 0;
    background-color: #1e282f;
    height: 100vh;
    overflow: auto;
}